{% extends "form_layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block form_title %}Forgot Password{% endblock %}

{% block form_action %}{{ url_for('forgot_password') }}{% endblock %}

{% block form_fields %}
    <div class="form-floating mb-3">
        <input autocomplete="off" type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
        <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input autocomplete="off" type="text" class="form-control" id="document" name="document" placeholder="CPF" required>
        <label for="document">CPF</label>
    </div>
{% endblock %}

{% block form_button_text %}Reset Password{% endblock %}