{% extends "form_layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block form_title %}Reset Password{% endblock %}

{% block form_action %}{{ url_for('reset_password') }}{% endblock %}

{% block form_fields %}
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" required>
        <label for="new_password">New Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
        <label for="confirm_password">Password Confirmation</label>
    </div>
{% endblock %}

{% block form_button_text %}Reset Password{% endblock %}